<nav class="nav-bar">
    <li (mouseover)="onSelect('home')" (mouseout)="onSelect(null)" *ngIf="!isAuth">
        <a routerLink="home" routerLinkActive="active"><i class="fas fa-home"></i></a>
        <p *ngIf="selected==='home'" class="description">Home</p>
    </li>
    <li (mouseover)="onSelect('profile')" (mouseout)="onSelect(null)" *ngIf="isAuth">
        <a routerLink="profile" routerLinkActive="active" class="profile"><i class="fas fa-user"></i></a>
        <p *ngIf="selected==='profile'" class="description">Profile</p>
    </li>
    <li (mouseover)="onSelect('message')" (mouseout)="onSelect(null)" *ngIf="isAuth">
        <a routerLink="chat" routerLinkActive="active"><i class="fas fa-comment-alt"></i></a>
        <p *ngIf="selected==='message'" class="description">Chat</p>
    </li>
    <div class="bot">
        <li (mouseover)="onSelect('signUp')" (mouseout)="onSelect(null)" *ngIf="!isAuth">
            <a routerLink="auth/signup" routerLinkActive="active"><i class="fas fa-user-plus"></i></a>
            <p *ngIf="selected==='signUp'" class="description">SignUp</p>
        </li>
        <li (mouseover)="onSelect('signIn')" (mouseout)="onSelect(null)" *ngIf="!isAuth">
            <a routerLink="auth/signin" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i></a>
            <p *ngIf="selected==='signIn'" class="description">SignIn</p>
        </li>
        <li (mouseover)="onSelect('LogOut')" (mouseout)="onSelect(null)" *ngIf="isAuth">
            <a (click)="onLogOut()"><i class="fas fa-sign-out-alt"></i></a>
            <p *ngIf="selected==='LogOut'" class="description logout">LogOut</p>
        </li>
    </div>
</nav>
