.nav-bar{
    position: fixed;
    z-index: 1;
    background-color: #23272a;
    height: 100%;
    
    width: 90px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    li{
        margin-left: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        .description{
            margin-left: 20px;
            background-color: black;
            color: white;
            padding: 0.5em 2em 0.5em;
            border-radius: 0.5rem;
        }
    }
    a{
        cursor: pointer;
        margin: 5px;
        list-style: none;
        background-color: #2c2f33;
        padding: 20px;
        border-radius: 100%;
        text-decoration: none;
        color: #ffffff;
        transition: 330ms;
    }
    .profile{
        border: 1px solid limegreen;
    }

    li:hover{
        a{
            padding: 20px;
            border-radius: 20px;
            background-color: #7289da;
        }
        .logout{
            background-color: #CE1212;
        }
        
    }

    .bot{
        
        position: absolute;
        bottom: 5%;
    }

    .active {
        background-color: #7289da;
    }
}

