.container {
  color: white;
  background-color: #2c2f33;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  overflow-y:scroll; 
  height: 100%;

  .chat-header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p,hr {
      color: darkgray;
      font-style: italic;
      font-weight: 100;
      font-size: 0.8rem;
    }

    h1 {
      font-weight: 100;
    }

    hr {
      width: 95%;
      border: groove darkgray;
      border-width: thin;
    }
  }

  app-message{
    margin-bottom: 80px;
    margin-left: 5px;
  }



  .msgInputArea {
    position: fixed;
    background-color: #2c2f33;
    bottom: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    input {
      margin-left: 30px;
      width: 85%;
      background-color: #23272a;
      height: 35px;
      border-radius: 8px;
      border: 1px solid black;
      color: #ffff;
      padding-left: 10px;
      outline: none;
    }
    button {
      font-family: 'Cascadia code';
      font-weight: bold;
      color: black;
      margin: 10px;
      margin-right: 30px;
      width: 100px;
      height: 35px;
      border-radius: 5px;
      border-color: darkseagreen;
      background-color: lightgreen;
      cursor: pointer;
      transition: transform 330ms ease-in-out;
    }

    button:hover {
      transform: scale(1.1);
    }
  }
}
