<div class="container">
  <div class="profile-box">
    <h1>User Profile</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="profile-picture-box">
        <img *ngIf="user.photoURL" [src]="user.photoURL" class="profile-picture">
      </div>
      <div class="information-box">
        <div class="upload-box" *ngIf="editMode">
          <p>Upload a new profile picture</p>
          <input type="file" (change)="detectFiles($event)" class="inputfile" accept="image/*">
        </div>
        <p *ngIf="!editMode">UserName: {{user.displayName}}</p>
        <div class="user-name-box" *ngIf="editMode">
          <label for="username">UserName: </label>
          <input type="text" id="username" name="username" [ngModel]="user.displayName">
        </div>
        <div class="button-box">
          <button (click)="onEdit()" *ngIf="!editMode">Edit</button>
          <button type="submit" *ngIf="editMode">Save</button>
          <button (click)="onCancel()" *ngIf="editMode">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
